body {
	background-color: slategray;
}

h1 {
	font-size: 70px;
	transition-duration: 1s;
}

h1:hover {
	color: pink;
}

p {
	padding-right: 50%;
	padding-left: 0%;
}
.profile-pic{
	width: 50px;
}
img {
	width: 30px;
}